body {
    margin: 0;
    font-family: Helvetica, "Yu GothiC";
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

#header-content {
    display: none;
    /*
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 900px;
    margin: 30px auto 30px auto;
    */
}

#company-name {
    font-family: "Sawarabi Mincho";
}

#company-name p {
    margin: 0;
}

#company-name p:nth-child(1) {
    font-size: 50px;
}

#company-name p:nth-child(2) {
    font-size: 16px;
}

#company-profile p {
    margin: 0;
}

#menu {
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.9);
}

#menu ul {
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
}

#menu ul li {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

#main-image {
    position: relative;
    overflow: hidden;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Akita_Kanto_Festival_2017.jpg/1920px-Akita_Kanto_Festival_2017.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#company-profile {
    font-family: "Yu Mincho";
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
    padding: 50px 100px;
    margin: auto;

    width: 600px;

    writing-mode: vertical-rl;
    position: relative;

    line-height: 80px;

}

#company-profile h1 {
    font-size: 50px;
    font-weight: normal;
    margin: 0;
    letter-spacing: 8px;

}

#company-profile p {
    font-size: 14px;
    letter-spacing: 6px;
}

#message {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#message div {
    text-align: center;
    width: 100%;
}

#message p {
    width: 60%;
    margin: 0 auto;
    font-size: 20px;
}

h1.section-title {
    font-size: 90px;
    width: 100%;
    text-align: center;
    margin: 0;
}

#products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#products ul {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#products ul li {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#products ul li img {
    width: 240px;
    height: 240px;
    border-radius: 120px;
    display: block;
}

#products ul li h1 {
    width: 100%;
    color: black;
    text-align: center;
    font-size: 32px;
    font-weight: normal;
}

#news {
    display: flex;
    justify-content: space-evenly;
}

#news article {
    width: 40%;
    min-height: 500px;
    margin: 20px 0;
    padding: 20px;
    box-sizing: border-box;
}

#footer {
    background: gray;
    color: white;
    padding-top: 30px;
}
